.box {
  border: 1px solid white;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
  background-color: white;
  color: black;
}
.frame {
  border: 1px solid white;
}
body {
  margin: 10px;
  background-color: black;
  justify-items: center;
  color: white;
}
img {
  height: 100%;
  animation: fade 3s ease-in 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
