body{
  margin: 5%;
}

.grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto;
  margin: auto;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
}
.grid-container div {
  background-color: white;
  border-radius: 10px;
}

.grid-item {
  padding: 20px;
  color: black;
  text-align: center;
}
